{{ define "main" }}
<p class="blog-intro">{{ .Title }} <a class="feed-link" href="/blog/index.xml">RSS</a></p>
<ul class="post-list">
  {{ range .Pages.ByDate.Reverse }}
  {{ $link := .Params.link }}
  <li class="post-item">
    <div class="post-meta">
      {{ .Date.Format "Jan 2, 2006" }}{{ with .Params.source }} · {{ . }}{{ end }}
    </div>
    <div class="post-title">
      {{ if $link }}
        {{ if hasPrefix $link "/" }}
        <a href="{{ $link }}">{{ .Title }}</a>
        {{ else }}
        <a href="{{ $link }}" target="_blank" rel="noopener">{{ .Title }} <span class="ext">↗</span></a>
        {{ end }}
      {{ else }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </div>
    {{ with .Content }}<div class="post-body">{{ . }}</div>{{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
